<launch>

    <node pkg="muvt_core" type="test_node" name="test_node" output="screen">
        <param name="dcm_config" textfile="$(find muvt_core)/config/params/dcm_config.yaml"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" output="screen"
        args="-d $(find muvt_core)/config/rviz/muvt_test.rviz"/>

</launch>
