<launch>

    <param name="use_sim_time" value="false"/>
    <param name="ignore_timestamp" value="true"/>

    <arg name="vision" default="true"/>
    <arg name="is_model_floating_base" value="true"/>

    <!-- include robot_description -->
    <include file="$(find centauro_gazebo)/launch/centauro_world.launch">
        <arg name="legs" value="false"/>
        <arg name="realsense" value="true"/>
        <arg name="gazebo" value="false"/>
    </include>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" value="250.0"/>
    </node>
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher" output="screen">
        <param name="publish_default_efforts" value="True"/>
    </node>

    <!-- rviz -->
    <node pkg="rviz" name="rviz" type="rviz" output="screen"/>

</launch>
