<launch>

    <param name="use_sim_time" value="false"/>
    <param name="cartesian/problem_description" textfile="$(find teb_test)/config/problem/centauro_stack.yaml"/>
    <param name="collision_urdf" textfile="$(find centauro_urdf)/urdf/capsule/centauro_capsules.urdf"/>
    <param name="robot_description_semantic" textfile="$(find centauro_srdf)/srdf/centauro.srdf"/>

    <arg name="vision" default="false"/>


    <arg name="vision" default="true"/>
    <arg name="is_model_floating_base" value="false"/>

    <!-- include robot_description -->
    <include file="$(find centauro_gazebo)/launch/centauro_world.launch">
        <arg name="floating_base" value="true"/>
        <arg name="upper_body" value="true"/>
        <arg name="legs" value="true"/>
        <arg name="realsense" value="true"/>
        <arg name="velodyne" value="false"/>
        <arg name="gazebo" value="true"/>
    </include>

    <!-- URDF joint fixer -->
    <node pkg="teb_test" type="urdf_parser_test_node" name="urdf_parser_test_node" output="screen">
        <rosparam param="fixed_joints" command="load" file="$(find teb_test)/config/problem/fixed_joints.yaml"/>
    </node>

    <!-- zedm ros wrapper -->
    <group if="$(arg vision)">
        <include file="$(find zed_wrapper)/launch/zedm.launch">
            <arg name="cam_pos_x" value="0.7"/>
            <arg name="cam_pos_y" value="0.0"/>
            <arg name="cam_pos_z" value="0.55"/>
            <arg name="cam_pitch" value="1.5"/>
            <arg name="base_frame" value="world"/>
        </include>

        <!-- vision node -->
        <node pkg="teb_test" type="vision_node" name="vision_node" output="screen" args="/zedm/zed_node/point_cloud/cloud_registered"/>
    </group>

    <!-- optimizer node -->
    <node pkg="teb_test" type="optimizer" name="optimizer" output="screen">
        <param name="optimizer_config" textfile="$(find teb_test)/config/problem/constraint.yaml"/>
        <param name="is_model_floating_base" value="$(arg is_model_floating_base)"/>
        <param name="planner_config" textfile="$(find teb_test)/config/problem/planner_config.yaml"/>
    </node>

    <!-- robot control node -->
    <node pkg="teb_test" type="robot_controller_node" name="robot_controller_node" output="screen" launch-prefix="bash -c 'sleep 5.0; $0 $@' ">
        <param name="is_model_floating_base" value="$(arg is_model_floating_base)"/>
        <param name="model_type" value="RBDL"/>
        <rosparam param="fixed_joints" command="load" file="$(find teb_test)/config/problem/fixed_joints.yaml"/>
    </node>

    <!-- urdf cloud filter -->
    <node pkg="realtime_urdf_filter" type="realtime_urdf_filter" name="realtime_urdf_filter" output="screen">
        <remap from="~input_depth" to="/D435i/D435i_head_camera/aligned_depth_to_color/image_raw"/>
        <remap from="~output_depth" to="/urdf_filtered_point_cloud"/>
        <remap from="~output_mask" to="/urdf_filtered_mask"/>
        <rosparam command="load" file="$(find realtime_urdf_filter)/launch/filter_parameters.yaml"/>
    </node>

    <!-- rviz -->
    <node pkg="rviz" name="rviz" type="rviz" output="screen"
        args="-d $(find teb_test)/config/rviz/urdf_parser_test.rviz"/>

    <!-- xbotcore -->
    <node pkg="teb_test" type="xbotcore.sh" name="xbot" output="screen"/>

    <!-- static transformers -->
    <node pkg="tf" type="static_transform_publisher" name="pelvis_connector"
        args="0 0 0 0 0 0 pelvis sim/pelvis 30"/>

</launch>
