<launch>

    <param name="use_sim_time" value="false"/>
    <param name="cartesian/problem_description" textfile="$(find teb_test)/config/problem/centauro_stack.yaml"/>

    <arg name="vision" default="true"/>
    <arg name="is_model_floating_base" value="false"/>

    <!-- include robot_description -->
    <include file="$(find centauro_gazebo)/launch/centauro_world.launch">
        <arg name="legs" value="false"/>
        <arg name="realsense" value="true"/>
        <arg name="gazebo" value="false"/>
    </include>

    <!-- URDF joint fixer -->
    <node pkg="teb_test" type="urdf_parser_test_node" name="urdf_parser_test_node" output="screen">
        <rosparam param="fixed_joints" command="load" file="$(find teb_test)/config/problem/fixed_joints.yaml"/>
    </node>

    <!-- rviz -->
    <node pkg="rviz" name="rviz" type="rviz" output="screen"
        args="-d $(find teb_test)/config/rviz/urdf_parser_test.rviz"/>

</launch>
