<launch>

    <param name="robot_description" textfile="$(find teleop_urdf)/urdf/teleop_fixed_base.urdf"/>
    <param name="robot_description_semantic" textfile="$(find teleop_srdf)/srdf/teleop_fixed_base.srdf"/>
    <param name="collision_urdf" textfile="$(find teleop_urdf)/urdf/teleop_capsules.rviz"/>
    <param name="cartesian/problem_description" textfile="$(find teb_test)/config/problem/teleop_stack.yaml"/>
    <param name="use_sim_time" value="false"/>

    <!-- zedm ros wrapper -->
     <include file="$(find zed_wrapper)/launch/zedm.launch"/>

    <!-- optimizer node -->
    <node pkg="teb_test" type="optimizer" name="optimizer" output="screen">
        <param name="optimizer_config" textfile="$(find teb_test)/config/problem/constraint.yaml"/>
    </node>

    <!-- vision node -->
    <node pkg="teb_test" type="vision_node" name="vision_node" output="screen" args="/zedm/zed_node/point_cloud/cloud_registered"/>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find teb_test)/config/rviz/simple_trj_optimizer.rviz" output="screen"/>

</launch>
