<launch>

    <!-- urdf/srdf param definitions -->
    <include file="$(find centauro_gazebo)/launch/centauro_world.launch">
        <arg name="legs" value="false"/>
        <arg name="realsense" value="true"/>
        <arg name="gazebo" value="false"/>
    </include>

    <!-- urdf parser test node -->
    <node pkg="teb_test" type="urdf_parser_test_node" name="urdf_parser_test_node" output="screen"/>

    <!-- rviz -->
    <node pkg="rviz" name="rviz" type="rviz" output="screen"/>

</launch>
