<launch>
    <arg name="gui" default="true"/>
    <!-- load URDF and SRDF -->
    <param name="robot_description" command="$(find xacro)/xacro $(find wolf_description_utils)/../spot_description/robots/spot.urdf.xacro"/>

    <!-- create reduced URDFs and SRDFs -->
    <node pkg="teb_test" type="urdf_parser_test_node" name="right_front_urdf" output="screen" args="robot_description_rf">
        <rosparam param="fixed_joints" command="load" file="$(find teb_test)/config/problem/fixed_joints_rf.yaml"/>
    </node>
    <node pkg="teb_test" type="urdf_parser_test_node" name="left_front_urdf" output="screen" args="robot_description_lf">
        <rosparam param="fixed_joints" command="load" file="$(find teb_test)/config/problem/fixed_joints_lf.yaml"/>
    </node>
    <node pkg="teb_test" type="urdf_parser_test_node" name="right_hind_urdf" output="screen" args="robot_description_rh">
        <rosparam param="fixed_joints" command="load" file="$(find teb_test)/config/problem/fixed_joints_rh.yaml"/>
    </node>
    <node pkg="teb_test" type="urdf_parser_test_node" name="left_hind_urdf" output="screen" args="robot_description_lh">
        <rosparam param="fixed_joints" command="load" file="$(find teb_test)/config/problem/fixed_joints_lh.yaml"/>
    </node>

    <param name="robot_description_semantic_rf" command="$(find xacro)/xacro $(find wolf_description_utils)/../spot_description/robots/spot.srdf.xacro rf_leg:=true lf_leg:=false rh_leg:=false lh_leg:=false"/>
    <param name="robot_description_semantic_lf" command="$(find xacro)/xacro $(find wolf_description_utils)/../spot_description/robots/spot.srdf.xacro rf_leg:=false lf_leg:=true rh_leg:=false lh_leg:=false"/>
    <param name="robot_description_semantic_rh" command="$(find xacro)/xacro $(find wolf_description_utils)/../spot_description/robots/spot.srdf.xacro rf_leg:=false lf_leg:=false rh_leg:=true lh_leg:=false"/>
    <param name="robot_description_semantic_lh" command="$(find xacro)/xacro $(find wolf_description_utils)/../spot_description/robots/spot.srdf.xacro rf_leg:=false lf_leg:=false rh_leg:=false lh_leg:=true"/>

    <node pkg="teb_test" name="optimizer" type="optimizer">
        <param name="is_model_floating_base" value="true"/>
<!--        <param name="collision_urdf" textfile="$(find wolf_description_utils)/../spot_description/robots/spot_capsules.urdf"/>-->
        <param name="optimizer_config" textfile="$(find teb_test)/config/problem/optimizer_config.yaml"/>
    </node>

    <node if="$(arg gui)" pkg="rviz" name="rviz" type="rviz" output="screen" args="-d $(find teb_test)/config/rviz/wolf.rviz"/>

</launch>
